{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<!---============== END OF NAV BAR ==================-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" id="b_image">
      <img src="{{url_for('static',filename='images/' + sproduct.image_1)}}" alt="{{sproduct.name}}" width="400"
        height="400">
    </div>
    <div class="col-md-6">
      <h3>Product name: {{sproduct.name}} </h3>
      <br>
      <h5>Product price: Rs{{sproduct.price}}</h5>
      <br>
      {% if sproduct.discount > 0 %}
      <h5>Discount: {{sproduct.discount}} % </h5>
      {% endif %}
      <h4>Product description:</h4>
      <p>{{sproduct.desc}}</p>
      <p>
      <h5>Author:{{sproduct.brand.name}}</h5>
      </p>
      <form action="{{url_for('AddCart')}}" method="post">
        <input type="hidden" name="product_id" value="{{sproduct.id}}">
        <div class = "btnn">
          <button type="submit" style="width: 250px; height: 40px; " class="btn btn-sm btn-warning">Add to Cart</button>
        </div>
      </form>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12" id="s_image">
      <img src="{{url_for('static',filename='images/'+ sproduct.image_1)}}" alt="{{sproduct.name}}" width="100"
        height="100">
      <img src="{{url_for('static',filename='images/'+ sproduct.image_2)}}" alt="{{sproduct.name}}" width="100"
        height="100" class="ml-5">
      <img src="{{url_for('static',filename='images/'+ sproduct.image_3)}}" alt="{{sproduct.name}}" width="100"
        height="100" class="ml-5">
    </div>
  </div>

</div>

<script>
  var b_image = document.getElementById('b_image');
  var s_image = document.getElementById('s_image').getElementsByTagName('img');
  for (var i = 0; i < s_image.length; i++) {

    s_image[i].addEventListener('click', full_image);
  }
  function full_image() {
    var ImageSRC = this.getAttribute('src');
    b_image.innerHTML = "<img src=" + ImageSRC + " width='400' height='400'>";
  }
</script>
<br>
<h2 style="color:black;text-align:center;">SIMILAR PRODUCTS</h2>

<div class="row">
  {% for get_cat in get_cat_prod.items %}
  <div class="col-md-3 mt-4 scard">
    <a href="{{url_for('single_page', id=get_cat.id)}}">
      <div class="card">
        <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" class="card-img-top"
          alt="{{get_cat.name}}" height="350" width="200">
        <div class="card-body">
          {% if get_cat.discount > 0 %}
          <h5
            style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-15deg); position: absolute; top: 23%; left: 25%; font-weight: 600;">
            Discount {{get_cat.discount}}</h5>
          {% endif %}
          <h5 class="text-center">{{get_cat.name}}</h5>
          <p class="text-center">Price Rs.{{get_cat.price}}</p>
        </div>
        <div class="card-footer">
          <form action="{{url_for('AddCart')}}" method="post">
            <input type="hidden" name="product_id" value="{{get_cat.id}}">
            <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
          </form>
        </div>
    </a>
  </div>
</div>
<br>
{% endfor %}

<br>
<br>
{% include 'footer.html' %}
{% endblock content %}